/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 12, 2022, 2:54:11 PM
    Author     : zahwa
*/
.button.style{
    
}

.vbox.style{
    -fx-background-color: #009aae
}

.border.style{
    -fx-background-color: #ACCACF
}


table-view{
    -fx-background-radius: 25px;
}

.table-view .column-header-background{
    -fx-background-color:  #ACCACF;
    -fx-background-radius: 0px 0px 0px 0px;
}
 
.table-view .column-header, .table-view.filler{
    -fx-background-color:  transparent;
    -fx-size: 30;
}




